.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title{
    font-size: 78pt;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

.links{
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    margin-top: 1rem;
    text-decoration: underline;
    cursor: pointer;
}