.posts-header{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36pt;
    margin-bottom: 20px;
    color: white;
}

.subtext{
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    color:white;
    margin-bottom: 1rem;
}

.posts-box{
    width: 60%;
    padding-right: 1%;
    max-height: 60vh;
    overflow-y: scroll;
}

/*Scroll bar styling*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 5px;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}