.experiance-card{
    display : flex;
    flex-direction : column;

    width : 400px;
    height : 200px;
    margin : 50px;
    margin-top: 10px;
    margin-bottom: 5px;

    box-shadow : 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family : 'Open Sans', sans-serif;

    color: white;
}

.dcs-body{
    background-image:  url("../../images/dcs-office.jpg");
    background-size: 100%;
    background-position: center center;
}

.dcs-bar{
    background: rgba(0,58,111,0.9);
    color: white;
}

.dcs-modal{
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 20px;
}

.dcs-mid-bar{
    background: rgba(0,0,0,0.5);
}

.hnd-body{
    background-image:  url("../../images/educationCards/ps4Controller.jpg");
    background-size: 100%;
    background-position: center center;
}

.hnd-bar{
    background: rgba(0,58,111,0.9);
}

.btec-body{
    background-image:  url("../../images/educationCards/joycons.jpg");
    background-size: 100%;
    background-position: top right;
}

.btec-bar{
    background: rgba(0,0,0,0.8);
}

.gcse-body{
    background-image:  url("../../images/educationCards/lockers.jpg");
    background-size: 100%;
}

.gcse-bar{
    background: rgba(117,37,36,0.9);
}

.experiance-details{
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

.experiance-header{
    display : flex;
    flex-direction : column;
}

.experiance-header-title{
    display : flex;
    flex-direction : row;
}

.experiance-location{
    text-align: left;
    font-size: 10pt;
    padding-left: 5px;
}

.experiance-date{
    text-align: right;
    flex:1;
    font-size: 11pt;
    margin: 10px;
}

.experiance-title{
    font-size : 16pt;
    padding : 5px;
}

.experiance-divider{
    flex:1;
}

.experiance-footer{
    padding : 5px;
    display: flex;
    align-items: flex-end;
}

.experiance-more{
    cursor: pointer;
    font-size: 9pt;
}

.experiance-more:hover {
    text-decoration: underline;
}