.post-title{
    flex-grow: 1;
    font-size: 28px;
    color: white;
    list-style: circle;
}

.post-preview{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.post-date{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.post-overview{
    cursor: pointer;
}