.card-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    justify-items: center;
    width: auto;
}

.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #343434;
    color: white;
    cursor: pointer;
}

.card-contents{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: #343434;
}

.card-footer{
    display: flex;
    align-items: center;
    background: #343434;
    color: white;
}

button{
    border: none;
    text-decoration: underline;
    background: none;
    color: white;
    margin: 5px;
    margin-left: auto;
    cursor: pointer;
}