.logo{
    width: 20px;
    height: 20px;
}

.profileContainer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-footer{
    display: flex;
    flex-direction: row;
}

.link-text{
    margin-left: 5px;
    color: #444444;
    text-decoration: none;
}

.footer-position{
    height:78px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.divider{
    height: 1px;
    width: 15%;
    background: grey;
}

.footer-divider{
    color: #444444;
    margin-bottom: 0px;
    margin-top: 0px;
}