.logo{
    width: 20px;
    height: 20px;
}

.profileContainer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-footer{
    display: flex;
    flex-direction: row;
}

.link-text{
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

.footer-position{
    height:78px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(60,60,60, 0.3);
    font-family : 'Open Sans', sans-serif;
    padding-top: 10px;
}

.footer-pinned-bottom{
    position: absolute;
    bottom: 0;
}

.divider{
    height: 1px;
    width: 15%;
    background: white;
}

.footer-divider{
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}