.App {
  text-align: center;
}

.app-background{
  background: rgba(0,0,0,0.2);
  min-height: 100vh;
  background-attachment: fixed;
}

.App-header-title {
  text-align: center;
  min-height: 8vh;
  max-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgba(60,60,60, 0.3);
}

.App-navBar {
  min-height: 5vh;
  max-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(60,60,60, 0.3);
  font-family: 'Open Sans', sans-serif;
}

.Nav-Button {
  margin: 24px;
  height: 5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: white;
}

.Nav-Button-selected {
  margin: 24px;
  height: 5vh;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: white;
}

.Nav-Button:hover {
  text-decoration: underline;
}

.Nav-home {
  text-align: center;
  text-decoration: none;
  font-size: 58px;
  color:white;
  margin-bottom: 18px;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url('./images/websiteBackdrop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}